<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
      <li> <li><a href="../index.html" >Anasayfa</a></li>
      <li><a href="../view/cssGiris.html" >CSS</a></li>
      <li><a href="../view/a.html"class="active" >Hakkımda</a></li>

     
    </ul>
  </div>

</div>
<!--- menu-wrapper div end -->

<!--- banner wrapper div end -->
<div class="page-wrapper">
    <div class="primary-content">
      <div class="panel">
        <div class="title">
          <h1>&nbsp;</h1>
          <h2>&nbsp;</h2>
        </div>
        <div class="content">
          <p> Bu sayfaya geldiğine göre beni merak etmişsin. O zaman kendimden biraz bahsedeyim.Ben Cansu Altunsoy. 1995 yılı Kahramanmaraş doğumluyum. Cumhuriyet Üniversitesi Bilgisayar Mühendisliği son sınıf öğrencisiyim.Renklerin birbiriyle olan dansını sevdiğim için tasarımla uğraşıyorum.</p>
          <p>Hayatta unutmayacağım tek gaye :&quot;İnsan İsterse Herşeyi Başarabilir.&quot;..</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <div class="button-link"></div>
        </div>
      </div>
    </div>
    <div class="sidebar">
      <div class="panel">
        <div class="img"><img src="../images/web.jpg"/></div>
      </div>
    </div>
  </div>
 