<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
      <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html" class="active">CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
     
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Cascading Style Sheet.</h1>
  </div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2> </h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
             <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
               
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS Bir Elemanın Genişliği ve Yüksekliği</h1>
      </div>
      <div class="content1">
        <p>&nbsp;</p>
        <h3>Bir elemanın genişlik ve yüksekliğinin bütün tarayıcılarda doğru çalışmasını garantilemek için kutu modelinin nasıl çalıştığını bilmek gerekir. Bunun için aşağıdaki örnek üzerinden bir hesaplama yapalım:</h3>
        <div><img src="../images/17.png" /></div>
        <h3>Burada biraz uzun bir toplama işlemi gerekecek:</h3>
        <h4>320px (width) + 20px (left + right padding) + 10px (left + right border) + 0px (left + right padding) = 350px</h4>
       
        <h5>Genişlik hesaplama</h5>
        <h3>Bir elemanın genişliği şu şekilde hesaplanmalıdır:</h3>
        <h3>Toplam eleman genişliği = Genişlik+Sol boşluk+sağ boşluk+sol sınır+sağ sınır+sol marjin+sağ marjin</h3>
      
        <h5>Toplam yükseklik hesaplama</h5>
        <h3>Toplam yükseklik aşağıdaki gibi hesaplanmalıdır:</h3>
        <h3>Toplam eleman yüksekliği = Yükseklik+Üst boşluk+alt boşluk+üst sınır+alt sınır+üst marjin+alt marjin</h3>
        <p>&nbsp;</p>
      </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
