<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
         <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html" class="active">CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Cascading Style Sheet.</h1>
  </div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2> </h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
              <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
 
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS NEDİR?</h1>
      </div>
      <div class="content1">
     
         <h3>&nbsp; </h3>
         <h3>Açılımı Cacading Style Sheets (Basamaklı Stil Sayfaları) olan CSS, HTML'e yardımcı olmak amacıylageliştirilen ve sitedeki tüm renk, görsel, metin hizalama gibi işlevleri yerine getiren bir dildir.         </h3>
         <h3> CSS ile birlikte sitenin birçok sayfasında kullanılan  kodlar tek bir CSS kodu ile aynı andaşekillendirilebilir.  Örneğin; sitede kullanılan başlıkların rengi CSS ile birlikte tümden değiştirilebilir. Sizin anlayacağınız her sayfada ayrı ayrı renk değişimi yapmak yerine tek bir CSS kodu ile tüm sayfalardaki alanlara etki edilebilir. İşte CSS gücünü buradan almaktadır. Tek bir dosyadan tüm sitedeki sayfaların kodlarını  değiştirebilirsiniz.         </h3>
         <h3>
           CSS'nin ilk harfi olan <em>cascading</em> (basamaklı) terimi ise ismini hiyerarşik olarak istenilen nesneye basamak basamak ulaşılabilir olmasından almaktadır. Örneğin bir alan (div) içindeki bir paragrafın ilk satırına<em>div &gt; p:first-line</em> basamak yolu ile kolayca ulaşılabilir ve ulaşılan bu satır, tek bir kod satırı ile projenin tüm sayfalarında görsel olarak değiştirilebilir.           </h3>
         <h5><strong>CSS Büyük Bir Problemi Çözüyor!</strong>           </h5>
         <h3>HTML ilk ortaya çıktığında siyah beyaz bir televizyondan farksız değildi. Her zaman aynı kodlar kullanılır ve aynı biçimde yazılar görünürdü. Örneğin bir H1 elementiyle başlık yazıp farklı bir yerdeki H1 elementini değişik bir renk ve tarzda gösteremiyorduk. HTML 3.2 ile elementler bazı yeni özellikler kazandı. Örneğin FONT elementine color özelliği eklendi. Tabi bu da tam bir çözüm değildi. Ne zaman ki HTML 3.2 çıktı, dünya değişti! Artık CSS vardı, üstelik günümüzde tüm tarayıcılar CSS desteklemektedir! CSS Hayat Kurtarır Biraz abartı mı oldu? Ancak şurası kesin. İşimizi kolaylaştırıyor. CSS, HTML de kullanılan elementlerin (tag) nasıl görüneceğini bildirir. Bu doğru. Peki ya başka? Stiller css uzantılı dosyalara kaydedilerek kullanılırr, görüntüyü hızlı ve etkili bir şekilde değiştirmenize yarar, düzenlemesi kolaydır, web sitenize kod fazlalığı yaratmaz. Iste bu kadar marifetli.</h3>
          <p>&nbsp; </p>
        <p>&nbsp;                </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
