<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
          <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html"class="active" >CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
     
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Cascading Style Sheet.</h1>
  </div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2> </h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
            <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
                
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS Kutu Modeli</h1>
      </div>
      <div class="content1">
     <h3>&nbsp;</h3>
     <h3>Tüm CSS elemanları birer kutu olarak düşünülebilir. CSS'te tasarım ve düzenden bahsediliyorsa, "Kutu Modeli" terimi kullanılır. CSS Kutu Modeli esasında HTML bileşenlerinin etrafını saran ve margin (kenar mesafesi), border (sınır), padding (boşluk) ve content (içerikten) oluşan elemanlardan ibarettir.</h3>
     <h3>CSS Kutu Modeli, bize elemanların etrafına bir sınır ekleme (border) ya da elemanlar arasında bir boşluk (padding) tanımlama olanağı sağlar.</h3>
     <h3>Aşağıdaki şema, CSS Kutu Modeli elemanlarını daha iyi kavramanıza yardımcı olacaktır:</h3>
     <div><img src="../images/box-model_1.png"/></div>
<h5>Bu şemadaki elemanların açıklamalarına gelecek olursak;
</h5>
<ul>
  <h4>
  <li>Content: Resim ve metnin görüneceği kutunun içeriğidir.</li>
  <li>Padding: İçerik etrafında bir alanı temizleyerek boşluk oluşturur. Padding daima saydamdır.</li>
  <li>Border: Boşluk ve içeriğin etrafında yer alan sınır çizgisidir.</li>
  <li>Margin: Sınırın dışında kalan alandır. Daima saydamdır.</li>
  <li></li>
  <li></li>
</h4>
      </ul>
  <h3>&nbsp;</h3>
      </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
