<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
    <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html"class="active" >CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
     
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo"><h1>Cascading Style Sheet.</h1></div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2></h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
              <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
                
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS Metin İşlemleri</h1>
      </div>
      <div class="content1">
     
         <h3>&nbsp; </h3>
         <h3>Metin rengi (Text Color)
         Renk özelliği, bir metnin rengini atamak için kullanılır. CSS'te renk atama,          </h3>
         <h3>*Bir HEX değerle: &quot;#ff0ee0&quot;,</h3>
           <h3>*Bir RGB (red-green-blue, kırmızı-yeşil-mavi) değerle: &quot;rgb(200,10,50)&quot;,</h3>
           <h3>*ya da bir renk adı belirtilerek gerçekleştirilebilir.         </h3>
          <h3>Bir sayfa için varsayılan renk, body seçicisi ile tanımlanır.         </h3>
          <div><img src="../images/11.png" /></div>
          <h5>Metin dönüşümü</h5>
        <h3>Metin dönüşüm (text-transform) özelliği, metin içinde büyük harf ve küçük harf karakterleri belirlemek için kullanılır. Ya karakterler büyük harfe veya küçük harfe çevrilir ya da her kelimenin ilk harfi büyük harf yapılır.
</h3>

<div><img src="../images/13.png" /></div>
<h5>Metin özellikleri: </h5>
<table>
            <tr>
                <th width="159" height="38"><h6>Özellik</h6></th>
                <th width="522"><h6>Anlamı<h6></th>
            </tr>
            <tr>
                <td height="27"><h6>color</h6></td>
              <td><h6>Metnin rengini atama işlemini gerçekleştirir.</h6></td>
            </tr>
            <tr>
                <td height="28"><h6>direction</h6></td>
              <td><h6>Metnin yazma yönünü belirler.</h6></td>
            </tr>
             <tr>
                <td height="28"><h6>letter-spacing	</h6></td>
               <td><h6>Metindeki karakterler arasındaki boşlukları artırır ya da azaltır.</h6></td>
            </tr>
             <tr>
                <td height="29"><h6>line-height</h6></td>
               <td><h6>Satır yüksekliğini atama işlemini gerçekleştirir.</h6></td>
            </tr>
             <tr>
                <td height="31"><h6>text-align</h6></td>
               <td><h6>Metnin yatay konumlandırılmasını belirler.</h6></td>
            </tr>
             <tr>
                <td height="29"><h6>text-decoration</h6></td>
               <td><h6>Metne eklenecek dekorasyonu belirler.</h6></td>
            </tr>
             <tr>
                <td height="28"><h6>text-indent</h6></td>
               <td><h6>Bir metin bloğundaki ilk satırın ne kadar içerden başlayacağını belirler.</h6></td>
            </tr>
             <tr>
                <td height="32"><h6>text-decoration</h6></td>
               <td><h6>Metne eklenecek dekorasyonu belirler.</h6></td>
            </tr>
             <tr>
                <td height="27"><h6>text-shadow</h6></td>
               <td><h6>Metne eklenecek gölge etkisini belirler.</h6></td>
            </tr>
                <tr>
                <td height="27"><h6>text-transform</h6></td>
                <td><h6>Metnin büyük-küçük harf durumunu belirler.</h6></td>
            </tr>
                <tr>
                <td height="33"><h6>vertical-align</h6></td>
                <td><h6>Bir elemanın düşey yerleşimini belirler.</h6></td>
            </tr>
                <tr>
                <td height="32"><h6>white-space</h6></td>
                <td><h6>Eleman içinde alfabe dışı karakterlerin nasıl işlem göreceğini belirler.</h6></td>
            </tr>
                  <tr>
                <td height="86"><h6>word-spacing</h6></td>
                <td><h6>Bir metinde kelimeler arasında bulunan boşluk sayısını artırır ya da azaltır.</h6></td>
            </tr>
        </table>
        <h3>&nbsp; </h3>
      </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
