<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
         <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html" class="active">CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
     
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Cascading Style Sheet.</h1>
  </div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2> </h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
             <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
               
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS Içten Boşluk (Padding)</h1>
      </div>
      <div class="content1">
        <h3>&nbsp;</h3>
        <h3><strong>Padding</strong> özelliği bir HTML elementinin kenarlarının içinde bir boşluk yaratmamızı sağlar. Kenardan içerdeki bu boşlukları belirlerken üst, sol, alt ve sağ için ayrı ayrı belirlenebileceği gibi tek bir css koduyla da bunlar hızlıca belirlenebilir. Tüm padding komutları:</h3>
        <ul>
          <li><h3><strong>padding :</strong> Hızlı kullanım</</h3></li>
          <li><h3><strong>padding-top : </strong>Üstten boşluk</h3></li>
          <li><h3><strong>padding-right :</strong> Sağdan boşluk</h3></li>
          <li><h3><strong>padding-bottom :</strong> Alttan boşluk</h3></li>
          <li><h3><strong>padding-left> : </strong>Soldan boşluk</h3></li>
      </ul>
        <h4>*Alabileceği değerler:</h4>
        <ul>
          <li><h3><strong>1-genişlik belirtme : px, em, pt gibi ölçülerle genişliği belirtme</strong></h3></li>
          <li><h3><strong>2-yüzde kullanma (%) : Içerik genişliğine göre oranlar</strong></h3></li>
        </ul>
        <h5>Ayrı Ayrı İç Boslukları Ayarlamak</strong></h5>
        <h3>Üst, sağ, alt ve sol boşlukları ayrı ayrı ayarlanabilir. Bunun için padding komutuna araya tire (-) koyarak ilgili yönün ingilizcesini yazıyoruz.</h3>
          <div><img src="../images/21.png" /></div>
      <h3>  Yukarıdaki örnekte üst ve alt boşluklar içerden 10 piksel yüksekliğinde, sağ ve sol boşluklar içerden 20 piksel genişliğinde olacaktır.</h3>

<h5>İç Boşlukları Ayarlamanın Kısa Yolu</h5>
<h3>Sadece padding kullanarak hepsi için geçerli tek bir tane değer yazabildiğimiz gibi sırasıyla üst, sağ, alt, sol şeklinde değerler girerek de yukarıdaki dört kodun tamamını tek kodda yazabiliriz:</h3>

<div><img src="../images/21.png" /></div>
<h3>Yukarı ve alt değeri ile Sağ ve sol değeri aynı olan ifadelerde şu şekilde de kullanabileceğimizi unutmayalım:</h3>
<div><img src="../images/23.png" /></div>
<h3>Yazdığımız bu kod, bir önceki yazdığımız kod ile aynı işlevi görecektir.</h3>
<p>&nbsp;</p>
      </div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
