<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>TMPH00043</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
    <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html" class="active">CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
     
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Cascading Style Sheet.</h1>
  </div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2> </h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
             <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
              
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS Yazım Kuralları (Syntax)</h1>
      </div>
      <div class="content1">
     
         <h5>&nbsp;</h5>
         <h5>*CSS Yorumları* </h5>
         <h3>Yorumlar yazılan kod üzerinde açıklama eklemek için kullanılır. Ayrıca kodu geliştiren kişinin bile uzun zaman geçtikten sonra unutabileceği bazı kritik noktaları kendisine hatırlatır. Yorum satırları tarayıcı tarafından dikkate alınmaz.         </h3>
         <h3>Bir CSS yorumu, &quot;/*&quot; sembolleriyle başlar ve &quot;*/&quot; sembolleriyle sona erer. Birden çok satıra da yayılabilir.</h3><div><img src="../images/4.png" /></div>
         <h5>*CSS seçiciler (selectors)*         </h5>
         <h3>CSS seçicileri, HTML elemanlarını seçmenizi ve onlar üzerinde işlem yapmanızı sağlar. CSS seçicileri, HTML elemanlarını, id'leri, sınıfları (class), tipleri, özellikleri (attribute) ya da özellik değerlerini kullanarak bulur.         </h3>
         <h5>*Eleman seçiçi * </h5>
         <h3>Eleman seçici, elemanları etiket adlarına göre seçer. Sayfadaki tüm &lt;p&gt; elemanlarını etkileyecek bir değişikliği bu şekilde gerçekleştirebilirsiniz.</h3>
         <div>
           <div><img src="../images/5.png" /></div>
           <h5>*id seçici*</h5>
         </div>
<h3>id seçici, belirli bir elemanı bulmak için, HTML etiketinin id özelliğini kullanır. id, sayfa içinde tekil (unique) olmalıdır. id seçicisini, sayfa içinde belirli tek bir elemanı bulmak söz konusu olduğu zaman kullanmalısınız. id ile elemanı bulmak için aranan elemanın id'sinin önüne "#" sembolü koymalısınız. Örneğin, aşağıdaki kod içinde id="parag1" adlı eleman aranmaktadır.</h3>
        <h5>*Sınıf (class) seçici*</h5>
        <h3>Sınıf seçici aradığı elemanları belirli bir sınıf bilgisine göre arar. Sınıf seçici, HTML sınıf özelliğini kullanır. Belirli bir sınıfa ait elemanları bulmak için, bir nokta karakterinden sonra sınıfın adı yazılır.</h3>
<div><img src="../images/6.png" /></div>
<h5>&nbsp;</h5>
      </div><div class="content1"></div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
