<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>CSS Konu Anlatımı</title>
<link href="../css/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="menu-wrapper">
  <div class="menu">
    <ul>
         <li><a href="../index.html">Anasayfa</a></li>
      <li><a href="../view/css.html" class="active">CSS</a></li>
      <li><a href="../view/a.html" >Hakkımda</a></li>
     
    </ul>

</div>
<!--- menu-wrapper div end -->
<div class="clearing"></div>
<div class="border-bottom"></div>
<div class="logo-wrapper">
  <div class="leftshadow"></div>
  <div class="logo">
    <h1>Cascading Style Sheet.</h1>
  </div>
  <div class="rightshadow"><img src="../images/logo-wrap-right.jpg" /></div>
</div>
<div class="clearing"></div>
<!--- banner wrapper div end -->
<div class="container">
  <div class="panel-wrapper">
    <div class="left-colum">
      <div class="panel">
        <div class="title">
          <h2> </h2>
        </div>
        <div class="content">
          <p>CSS</p>
          <div class="right-panel">
            <ul>
              <li><a href="../view/cssGiris.html">CSS Nedir</a></li>
              <li><a href="../view/cssYapisi.html">CSS Yapısı </a></li>
              <li><a href="../view/cssYazilimKurallari.html">CSS Yazım Kuralları</a></li>
               <li><a href="../view/cssZeminRengi.html">CSS Zemin Özellikleri</a></li>
              <li><a href="../view/cssMetinİslemleri.html">CSS Metin İşlemleri</a></li>
                    <li><a href="../view/cssKutumodeli.html">CSS Kutu Modeli</a></li>
                    
              <li><a href="../view/cssListesi.html">CSS Listesi</a></li>
              <li><a href="../view/cssYazitipi.html">CSS Yazitipi Özellikleri</a></li>
             <li><a href="../view/css.html">CSS Yükseklik-Genişlik</a></li>
                             <li><a href="../view/cssMargin.html">CSS Dıştan Boşluk (Margin)</a></li>
               <li><a href="../view/cssPadding.html">CSS Içten Boşluk (Padding)</a></li>
               
              <li class="borderNone"><a href="../view/cssÖzellik.html">CSS Özellik Seçimi</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="right-colum">
      <div class="title">
      

        <h1>CSS'in Yapısı</h1>
        <div class="content1">
        <h3>&nbsp; </h3>
        <h3>Bu dersimizde CSS'in yapısını, terimlerini ve kavramlarını öğreneceğiz.        </h3>
        <div>
          <div><img src="../images/1.png" /></div>
<h3>CSS'de <em>seçici (selector)</em> değiştirmek istediğimiz HTML etiketini belirtir. CSS ile üzerinde oynama yapmak istediğimiz HTML etiketini <em>seçmiş</em> oluruz. { ve } işaretlerinin arasında kalan alana <em>scope</em> [<em>skop</em> okunur] ya da <em>bildirim alanı</em> denir. Bu alana CSS'imizin özelliğini ve değerini yazarız.        </h3>
<h3>Özellikten sonra mutlaka iki nokta üstüste (:) işareti gelir ve özelliğin değeri yazıldıktan sonra noktalı virgül (;) işareti ile kapatılır. Yazım kuralı daima böyledir.        </h3>
        <h3>Örneğin; yukarıdaki örneğimizde &lt;body&gt; etiketimizi seçtik ve arkaplan rengini (background-color) gök mavisi (skyblue) olarak belirledik.</h3>
        <p>&nbsp;</p>
 <div><img src="../images/2.png" /></div>
 <h3>İlk örneğimize ek olarak <em>body</em> seçicimize <em>font-family</em> adına yeni bir özellik ekledik ve değerini <em>Verdana</em> olarak belirledik. Bu şekilde &lt;body&gt; etiketi içine yazılan tüm metinler Verdana fontu olarak gösterilecektir.        </h3>
 <h3>CSS'in yapısı bu kadar basittir. Bir sonraki dersimizde temel CSS özelliklerini öğreneceğiz.</h3>
        <p>&nbsp;</p>
        
       </div>
      </div><div class="content1"></div>
      </div>
    </div>
    <div class="clearing"></div>
  </div>
  <!--- panel wrapper div end -->
</div>
<!--- container div end -->
<div class="clearing"></div>
</body>
</html>
